
@import "tailwindcss";

body{
    background-color: black;
    color: #fff;
}  

h1{

  text-decoration: underline;
  font-size: 70px;
  font-weight: 600;
  color: #fff;

}
















/* *{
  margin:0;
  padding:0;
box-sizing: border-box;
font-family: gilroy;
}
html,
body{
  height: 100%;
  width: 100%;
}
button{
  background-color: aqua;
  padding: 5px 10px ;
}
h2{
  background-color: crimson;
} */